@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding:0;
    font-family: "Ubuntu";
    font-size: 18px;
}

body{
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    background-color: var(--Magnolia);
}

#mainBlock{
    display: flex;
    flex-direction: row;
    width: min(100%,1000px);
    height: 650px;
    padding: 15px;
    background-color: var(--White);
    border-radius: 15px;
    justify-content: space-between;
    -webkit-box-shadow: 7px 10px 25px 3px var(--Light-gray); 
    box-shadow: 8px 10px 25px 3px var(--Light-gray);
}

#fieldset{
    width:fit-content;
    border: none;
    margin: 0 9%;
}


#navigation{
    display: flex;
    flex-direction: column;
    width: 230px;
    background-image: url('assets/images/bg-sidebar-desktop.svg');
    background-size: cover;
    padding: 35px;
    border-radius: 7px;
}



.nav-step-firt-box{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 17.5px 0;
 
}

.nav-round{
    height: 35px;
    width: 35px;
    align-content: center;
    text-align: center;
    border-radius: 100%;
    border: var(--Pastel-blue) 2px solid;
    color: var(--Light-gray);
    font-weight: 800;
    padding: 0 1px 1px 0;

}

.round-active-step{
    background-color: var(--Light-blue);
    border-color: var(--Light-blue);
    color: var(--Marine-blue);
}

.info-place{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

nav .text-detail{
    color: var(--Pastel-blue);
}
nav p{
    font-size: 14px;
}



.nav-chap-title{
    color: var(--White);
    font-weight: bold;
    margin-top: 4px;
    letter-spacing: 1.5px;
}


/* form step */

.step-title{
    font-size: 2rem;
    color: var(--Marine-blue);
}

.formStep{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    display: none;
    width: fit-content;
}

.formStep > p{
    margin-top: 10px;
    color: var(--Cool-gray)
}


.wrap{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.input-step-one{
    width: 100%;
    margin-top: 10px;
    height: 50px;
    border-radius: 10px;
    border: var(--Light-gray) 1px solid;
    padding-left: 15px;

}

.input-step-one:focus-visible{
    border: var(--Purplish-blue) 1px solid;
    outline-offset: unset;
}

.input-step-one-err{
    border: var(--Strawberry-red) 1px solid;
}

:focus-visible{
    outline: none;
}

.text-label{
    color: var(--Marine-blue);
}

.input-error{
    color: var(--Strawberry-red);
    place-self: flex-end;
    opacity: 0;
}

.input-error:has(+ .input-step-one-err){
    opacity: 1;
}

#form{
    margin-top: 40px;
}

button[type ="submit"]{
    background-color: var(--Marine-blue);
    border: unset;
    border-radius: 7px;
    height: 50px;
    width: fit-content;
    padding: 0 25px 2px;
    color: var(--White);
    align-self: self-end;
    margin-top: 90px;
}

button[type ="submit"]:hover{
    opacity: 0.9;
}


/* second step style */

#formTwo{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.radioBox{
    width: 106px;
    border: var(--Light-gray) 1px solid;
    border-radius: 10px;
    padding: 20px;
}

.radioBox:has(+ .radioBox){
    margin-right: 20px;
}

.radioBox:has(> .input-step-two:checked){
    border-color: var(--Purplish-blue);
}
.radioBox:hover{
    border-color: var(--Purplish-blue);
}


.input-step-two{
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;

}

.icon-step-two{
    margin-bottom: 40px;
}

.titlt-text{
    color: var(--Marine-blue);
    margin-bottom: 4px;
    font-weight: 600
}

.price-text{
    color: var(--Cool-gray);
    font-size: 16px;
}

.yeat-month-switch-block{
    margin: 12% 0;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.text-switch{
    color: var(--Cool-gray);
}

.text-switch:has(+ div){
    margin-right: 20px;
    color: var(--Marine-blue);
}

.switch-button{
    width: 35px;
    background-color: var(--Marine-blue);
    border-radius: 39px;
    margin-right: 20px;
    display: flex;
    padding: 5px;
    justify-content: start;
}

.switch-button span{
    background-color: var(--White);
    border-radius: 100%;
    height: 14px;
    width: 14px;
    display: block;
    
}

.box-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnDown{
    margin-top: 90px;
    border: none;
    color: var(--Cool-gray);
    background-color: unset;
}

.btnDown:hover{
    color: var(--Marine-blue);
}

.yearlyDiscount{
    color: var(--Marine-blue);
    font-size: 12px;
    margin-top: 5px;
}

/* step three style */

#formThree{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.checkBoxBox{
    display: flex;
    padding: 20px;
    border: var(--Light-gray) 1px solid;
    border-radius: 7px;
}

.checkBoxBox:hover{
    border-color: var(--Purplish-blue);
}

.checkBoxBox:has(+ .checkBoxBox){
    margin-bottom: 20px;
}

.checkBoxBox:has(> input:checked){
    border-color: var(--Purplish-blue);
}

input[type ="checkbox"]{
    margin-right: 20px;
    border-color: var(--Light-gray);

}

input[type = "checkbox"]:checked{
    background-color: var(--Purplish-blue);
    background-image: url('assets/images/icon-checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
}


input[type="checkbox" i] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border-color: var(--Light-gray);
    border: var(--Light-gray) 1px solid;
    appearance: none;
    align-self: center;
}

.box-texts{
    width: fit-content;
}

.price-text-three{
   align-self: center;
   color: var(--Purplish-blue);

}

#formThree .text-detail{
    color: var(--Cool-gray);
    font: 16px;
}

.separationText{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

/* step four style */


.formStep:has(.formFour){
    position: relative;
    right: 40px;
}
.formFour{
    display: flex;
    flex-direction: column;
    background-color: var(--Magnolia);
    width: 100%;

    border-radius: 7px;
    padding: 30px;
    margin-top: 60px;
}

.TypeStep{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.additionnalStep{
    display: flex;
    flex-direction: column;
}

.box-text-add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.TypeStep > .box-text-add{
    width: 100%;
}
.box-text-add:has(+ .box-text-add){
    margin: 20px 0;
}

.formFour:has(.Total-price){
    background-color: unset;
    margin-top: 7px;
}

.text-detail{
    color: var(--Cool-gray)
}

.btnChange{
    color: var(--Cool-gray);
    text-decoration: underline 2px;
}


.price-text-four-first{
    color :var(--Marine-blue);
    font-weight: 600;
    align-self: center;
}

.TypeStep:has(.text-place){
    padding-bottom: 30px;
    border-bottom: var(--Light-gray) 1px solid;
}

.add-price{
    color: var(--Marine-blue);
    font-size: 14px;
    align-self: center;
}

.Total-price{
    color: var(--Purplish-blue);
    font-weight: 600;

}